@import "var";

.profile-container {
    margin-top: $spacing-xxxl;
}

.profile-header-wrapper {
    @extend .column-flex-center-center;

    .userLetter {
        border-radius: $round-full;
        background-color: $color-grey-light;
        height: 120px;
        width: 120px;
        @extend .column-flex;
        margin: 0px;
        padding: 0px;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        color: $color-black;
    }

    .user-info-wrapper {
        * {
            margin-top: $spacing-sm;
        }

        text-align: center;

        h2 {
            color: $color-black;
        }

        p:nth-of-type(1) {
            color: $color-input;
        }

        button {
            margin-top: $spacing-md;
        }
    }
}

.profile-edit-wrapper {
    display: flex;

    .category-edit {
        margin-right: 10%;

        ul {
            padding: $spacing-lg;

            li {
                @extend h6;
                margin-top: $spacing-md;
                padding: $spacing-xs 0;
                width: fit-content;

                &:nth-of-type(1) {
                    margin-top: 0;
                    border-bottom: 2px solid;
                }
            }
        }
    }

    .profile-edit {
        form {
            @extend form;

            width: 60%;
            min-width: 500px;
            margin-top: $spacing-lg;
            justify-content: unset !important;

            input::placeholder {
                color: $color-text;
            }

            input[type="submit"] {
                max-width: fit-content;
                margin-top: $spacing-xl;
            }

            .grid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: $spacing-sm;
            }
        }

        .terms {
            color: $color-grey-light;
        }

        &.account-settings {
            form {
                @extend .row-flex;

                input[type="submit"] {
                    @extend button;

                    background-color: $color-search;
                    color: $color-text;
                }
            }
        }
    }
}
