@import "var";
@import "login";

// *********************
// LAYOUT
// *********************

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// *********************
// TYPOGRAPHY
// *********************

html,body{
    font-family: $font-main;
}

// *********************
// FLEX
// *********************
.column-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}