@import "var";
@import "login";
@import "typography";
@import "pinterest";
@import "nav";
@import "profile";
@import "admin";
@import "post";


// *********************
// LAYOUT
// *********************

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body section:nth-of-type(1) {
    min-height: 100vh;
}

// *********************
// TYPOGRAPHY
// *********************

html,body{
    font-family: $font-main;
}


// *********************
// FLEX
// *********************
.column-flex-center-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column-flex-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column-flex{
    display: flex;
    flex-direction: column;
}

.row-flex-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}



.row-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

button {
    min-width: 60px;
    margin-top: $spacing-xl;
    background-color: $color-search;
    color: $color-text;
    cursor: pointer;
    padding: $spacing-md $spacing-lg;
    border: none;
    border-radius: $round-lg;
    font-size: 1rem;
    font-weight: $font-600;
}

.terms{
    font-size: 11px;
}

[class*="wrapper"] {
form{
    @extend .column-flex;
    width: 100%;

    label{
        color: $color-grey-dark;
        text-align: left;
        font-weight: $font-400;
        font-size: 11px;
        padding: $spacing-md $spacing-xs $spacing-xs
    }

    input, textarea {
        border: 2px solid $color-input;
        width: 100%;
        height: 48px;
        border-radius: $round-xs;
        padding: $spacing-sm $spacing-md;
        margin-bottom: $spacing-sm;
    }

    textarea {
        resize: none;
    }

    textarea.input-lg {
        font-size: 2.5rem;
        font-family: 'Roboto';
        height: fit-content;
        padding: $spacing-md 0;
        border: none;
        border-radius: 0;
        border-bottom: 2px solid $color-input;
    }

    input[type=submit]{
        @extend button; 

        color: $color-white;
        background-color: $color-red;
        // height: 40px;
        border-radius: $round-lg;
        font-weight: $font-600;
        margin-top: 8px;
        padding: $spacing-md $spacing-lg;
        text-align: center;
        border: none;
        cursor: pointer;
        
    }
}
}