// *********************
// FONT
// *********************
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
$font-main: 'Roboto', sans-serif;

    // FONT WEIGHT
    $font-400: 400;
    $font-500: 500;
    $font-600: 600;
    $font-700: 700;
    $font-800: 800;

// *********************
// COLOR
// *********************
$color-red: #F90000;
$color-black: #111111;
$color-white: #FFFFFF;
$color-text: #1C1C1C;
$color-text-hover: #E9E9E9;
$color-grey-dark: #4F4F4F;
$color-grey-light: #C6C6C6;
$color-input: #a5a5a5;
$color-search: #EFEFEF;


// *********************
// SPACING
// *********************
$spacing-xs: .3rem;
$spacing-sm: .5rem;
$spacing-md: 1rem;
$spacing-lg: 1.5rem;
$spacing-xl: 2rem;
$spacing-xxl: 3rem;
$spacing-xxxl: 8rem;


// *********************
// WIDTH
// *********************
$width-full: 100%;
$width-half: 50%;
$width-xs: 20%;
$width-sm: 45%;
$width-md: 70%;
$width-lg: 80%;

// *********************
// RADIUS
// *********************
$round-full: 50%;
$round-md: 20px;
$round-xs: 13px;

// *********************
// IMAGE LAYOUT
// *********************
$card_width: 250px;
$gap: 20px;
$card_border_radius: 16px;
$card_small: 26;
$card_med: 33;
$card_large: 45;


// *********************
// BREAKPOINTS
// *********************
$breakPoints: (
    sm: 320px,
    md: 480px,
    lg: 768px,
    xl: 1032px,
    xxl: 1370px
);